// cart menu
.menu-cart-item {
    width: 400px;
}

.heading-menu-cart {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #00000042;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.menu-cart-item-container {
    width: 100%;
    height: 61px;
    display: flex;
    padding: 10px;

    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
        color: var(--light-green-color--hover);
    }
}

.cart-item-image {
    height: 40px;
    width: 40px;
}
.cart-item-info {
    margin-left: 10px;
    width: 329px;
    display: flex;
    justify-content: space-between;
}
.cart-item-title {

}

.cart-item-price {
    align-self: center;
    color: var(--price-item-color)
}
